body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, gold);
    font-weight: 700;
    color: black;
    padding: 7px 30px;
    border-radius: 5px;
}